{% extends "base.html" %}
{% load staticfiles %}

{% block includes_js %}
        <script src="{% static "notification/js/notification.js" %}"></script>
{% endblock %}

{% block includes_css %}
        <script src="{% static "notification/css/notification.css" %}"></script>
{% endblock %}


{% block content %}
         <div ng-controller="NotificationCtrl">
         <div class="panel panel-primary">
         <div class="panel-heading">
            <span>Notifications</span>
            <span class="pull-right">
                <span class="glyphicon glyphicon-bell" style="color:red; " ng-if="onenotread(notifications, {{ user.id }})" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-bell"  ng-if="allread(notifications, {{ user.id }})" aria-hidden="true"></span>
             </span>
          </div>
         <div class="panel-body">
             <span ng-repeat="notification in notifications  | filter : { user : {{ user.id }} } | orderBy: ['statement', '-date']">
                <div class="alert alert-success" role="alert" ng-if="read(notification)">
                    <span>  //notification.contents// </span> <a href=//notification.link//> link </a><span class="pull-right">date : // notification.date // </span>
                </div>
                <div class="alert alert-danger" role="alert" ng-if="notread(notification)" ng-click="updateNotification(notification)">
                  <span>  //notification.contents//  // notification.date //</span><span class="pull-right">date : // notification.date // </span>
                </div>
             </span>
         </div>
        </div>
       </div>
{% endblock %}

