{% load staticfiles %}
<!DOCTYPE html>

<head>
    <title>forum</title>
    <link rel="stylesheet" href="{% static "css/forum.css" %}" >
    <script src="{% static "js/angular.min.js" %}"></script>
        <script src="{% static "js/angular-cookies.js" %}"></script>
    <script src="{% static "js/forum.js" %}"></script>

</head>

<body>
    <div ng-app="forum">
        <div ng-controller="PostCtrl" ng-init="initialize('ready man')">
            <h1 style="text-align:center">Forum</h1>
            <div class="submitpost">
            <form>
                <textarea name="contents" ng-model="currentPost.contents" placeholder="new Post" ></textarea><br>
                <input type="text" name="hashtags" ng-model="currentPost.hashtags" placeholder="#hashtags"/><br>
                <button ng-click="savePost()">save</button>
            </form>
            </div>
            <hr/>
            <!--<pre>currentPost : // currentPost | json // </pre>
            <pre>posts : // posts  // </pre>-->
            <div class="viewpost">
                <div ng-repeat="post in posts" class="post">
                     <div class="innerpost">
                     //post.student // <br> // post.contents//      <button ng-click="delPost(post)" >Delete</button> <br> //post.hashtags// <br>
                     <textarea name="contents" ng-model="currentComment.contents[post.id]" placeholder="add comment"></textarea><br>
                     <button ng-click="saveComment(post)">save</button>
                     <!--<pre>currentComment : // currentComment | json // </pre>-->
                    <ul>
                        <li ng-repeat="comment in comments | filter: {forumpost:post.id}"> // comment.contents// <button ng-click="delComment(comment)" >Delete</button></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
