{% extends "base.html" %}
{% load staticfiles %}

{% block includes_js %}
        <script src="{% static "forum/js/forum.js" %}"></script>
{% endblock %}

{% block includes_css %}
        <script src="{% static "forum/css/forum.css" %}"></script>
{% endblock %}

{% block forum_active %}
    class="active"
{% endblock %}

{% block content %}
        <div ng-controller="PostCtrl">
                {% if user.reg_number %}
                <div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            New Post
                        </div>
                        <div class="panel-body">
                            <form>
                                  <textarea class="form-control"  style="height:100px" name="contents" ng-model="currentPost.contents" placeholder="new Post" ></textarea><br>
                                 <input class="form-control"  type="text" name="hashtags" ng-model="currentPost.hashtags" placeholder="#hashtags"/>
                             </form>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-sm btn-primary" ng-click="savePost({{ user.id }})">save</button>
                        </div>
                    </div>
                 </div>
                {%  endif %}
                 <div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            View Posts
                        </div>
                        <div class="panel-body">
                            <div class="posts" ng-repeat="post in posts|orderBy: ['statment','-approval','-date'] " class="row">
                                <div class="col-lg-1">
                                    <span class="btn glyphicon glyphicon-saved glyphicon-lg" style="color:darkgray; font-size: 2em " aria-hidden="true" ng-if="notsolved(post)" ng-click="solve(post, {{ user.id }})"></span>
                                    <span class="btn glyphicon glyphicon-saved glyphicon-lg" style="color:green; font-size: 2em " aria-hidden="true" ng-if="solved(post)" ng-click="solve(post, {{ user.id }})"></span>
                                    <span class="btn glyphicon glyphicon-chevron-up glyphicon-lg" style="color:#ffff00; font-size: 2em " aria-hidden="true"  ng-click="upprovalup(post, {{ user.id }})"></span>
                                    <p style="font-size: 2em; text-align:right">// post.approval // </p>
                                    <span class="btn glyphicon glyphicon-chevron-down glyphicon-lg" style="color:#ffff00; font-size: 2em " aria-hidden="true"  ng-click="upprovaldown(post, {{ user.id }})"></span>


                                </div>
                                <div class="col-lg-11 ">
                                     <div class="panel panel-default">
                                     <div class="panel-heading">
                                        <span ng-repeat="student in students | filter: {id:post.student}" > Posted By : // student.username // </span>
                                         <button ng-click="delPost(post, {{ user.id }})" ng-if="is_owner_post(post, {{ user.id }})" >Delete</button>
                                       </div>
                                      <div class="panel-body">
                                        // post.contents//<br>
                                        hashtags : //post.hashtags//
                                      </div>
                                     <div class="panel-footer">
                                     <div class="row" >
                                         <div class="col-lg-10">
                                         <textarea rows="1" class="form-control"  name="contents" ng-model="currentComment.contents[post.id]" placeholder="add comment">
                                         </textarea>
                                         </div>
                                         <div class="col-lg-1">
                                         <button class="btn btn-primary btn-lg"  ng-click="saveComment(post, {{ user.id }})">save</button>
                                         </div>
                                     </div>
                                     </div>

                                </div>
                                     <div class="comment" ng-repeat="comment in comments | filter: {forumpost:post.id} |orderBy: ['-appreciation','-date'] " >
                                         <span ng-repeat="user in users |filter: {id:comment.user}"> commented by : //user.username// </span>
                                         <button ng-click="delComment(comment, {{ user.id }})" ng-if="is_owner_comment(comment, {{ user.id }})">Delete</button>
                                         <button ng-click="updateComment(post, comment, {{ user.id }})" ng-if="is_owner_comment(comment, {{ user.id }})">edit</button>
                                         <span> rate : //comment.appreciation// </span>
                                         <span class="btn glyphicon glyphicon-thumbs-up" style="color:darkgray; font-size: 1em " aria-hidden="true"  ng-click="appreciate(comment, {{ user.id }})"></span>
                                         <span class="btn glyphicon glyphicon-thumbs-down" style="color:darkgray; font-size: 1em " aria-hidden="true"  ng-click="deappreciate(comment, {{ user.id }})"></span>
                                         <pre>// comment.contents// </pre>
                                         <textarea rows="1" class="form-control"  name="contents" ng-model="currentComment.contents[comment.id]" placeholder="edit comment" ng-if="is_owner_comment(comment, {{ user.id }})"></textarea>
                                         <hr>
                                     </div>
                                <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
        </div>


{% endblock %}

{% block color_forum %} #2f72ab {% endblock %}

