{% extends "base.html" %}
{% load staticfiles %}

{% block includes_js %}
    <script src="{% static "partage/js/partage.js" %}"></script>
{% endblock %}

{% block includes_css %}
    <link rel="stylesheet" href="{% static "partage/css/partage.css" %}">
{% endblock %}


{% block content %}
   <div class="container">

    {% if user.cin %}
    <form method="post" enctype="multipart/form-data" action="#">
       {% csrf_token %}
       {{ form.as_p }}
       <input type="submit"/>
    </form>

    <div ng-controller="ParCtrl" >
        <div  ng-repeat="fich in fichs">
            <p>//fich.name//</p>
            <p>//fich.classroom//</p>
            <p>//fich.date//</p>
            <p>//fich.type//</p>
            <a target="_blank" href="//fich.file//">link</a>
        </div>
    </div>
    {% endif %}
    {% if user.reg_number %}
    <div ng-controller="ParCtrl" >
        <div ng-repeat="subj in subjs |filter :{classroom:{{user.classroom.id}}} ">
            <h1>//subj.name//</h1>
            <div ng-repeat="fich in fichs |filter :{professor:subj.professor}">
                <p>//fich.name//</p>
                <a target="_blank" href="//fich.file//">link</a>
            </div>
        </div>
    </div>
    {% endif %}
   </div>

{% endblock %}