{% extends "base.html" %}
{% load staticfiles %}
{% load formfilters %}

{% block includes_js %}
    <script src="{% static "partage/js/partage.js" %}"></script>

{% endblock %}

{% block includes_css %}
    <link rel="stylesheet" href="{% static "partage/css/partage.css" %}">
{% endblock %}

{% block uploads_active %}
    class="active"
{% endblock %}

{% block content %}


    {% if user.cin %}
    <div class="panel panel-primary">
    <div class="panel-heading">
            Upload New Doc
    </div>
    <div class="panel-body">
    <div class="container" style="width:400px">
    <form method="post" enctype="multipart/form-data" action="#">
       {% csrf_token %}
        {{ form.name.errors }}
        <label for="name">File Name:</label>
        {{ form.name | addclass:'form-control' }}
        <label for="file">File:</label>
        {{ form.file }}
        <label for="year">Year:</label>
        {{ form.year | addclass:'form-control'}}
        <label for="type">Type:</label>
        {{ form.type | addclass:'form-control'}}<br>
        <label for="classroom">Classroom:</label>
        {{ form.classroom }}<br><br>
       <input type="submit" class="btn btn-primary"/>
    </form>
    </div>
    </div>
    </div>
    <div ng-controller="ParCtrl">
    <div class="panel panel-primary">
    <div class="panel-heading">
            <span>My Docs</span>
            <span class="pull-right">You have //fichs.length// Files</span>
    </div>
    <div class="panel-body">
        <div  ng-repeat="fich in fichs">
            <div class="col-xs-3">
                    <span class="glyphicon glyphicon-pencil glyphicon-xlg" ng-if="istd(fich)" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-paperclip glyphicon-xlg" ng-if="istp(fich)" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-book glyphicon-xlg" ng-if="islesson(fich)" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-file glyphicon-xlg" ng-if="iselse(fich)" aria-hidden="true"></span>
                <hr>
            </div>
            <div class="col-xs-3" style="border: 1px white solid">
                <p>//fich.name//</p>
                <p>//fich.classroom//</p>
                <p>//fich.type//</p>
                <a target="_blank" href="//fich.file//">link</a>
                <hr>
            </div>

        </div>
    </div>
    </div>
    </div>
    {% endif %}

    {% if user.reg_number %}
    <div ng-controller="ParCtrl" >
    <div class="panel panel-primary">
        <div class="panel-heading">
            My Docs
        </div>
        <div class="panel-body">
        <div class="col-xs-4" ng-repeat="subj in subjs |filter :{classroom:{{user.classroom.id}}} ">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                           <span class="glyphicon glyphicon-folder-open glyphicon-lg"  aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">//(fichs |filter :{professor:subj.professor}).length//</div>
                            <div>Files</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">//subj.name//</span>
                        <span class="pull-right">
                            <span class="glyphicon glyphicon-pencil"  aria-hidden="true" ng-click="show('td', subj, fichs)" style="margin-left:5px"></span>
                            <span class="glyphicon glyphicon-paperclip"  aria-hidden="true" ng-click="show('tp', subj, fichs)" style="margin-left:5px"></span>
                            <span class="glyphicon glyphicon-book"  aria-hidden="true" ng-click="show('lesson', subj, fichs)" style="margin-left:5px"></span>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="modal.html">
         <div class="modal fade">
          <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">//type//</h4>
              </div>
              <div class="modal-body">
                   <table st-table="students" class="table table-striped">
	                        <thead>
	                        <tr>
	                        	<th></th>
                                <th>name</th>
                                <th>type</th>
                                <th>link</th>
	                        </tr>
	                        </thead>
	                        <tbody>
	                        <tr ng-repeat="fich in fichs |filter :{professor:subj.professor, type: type}">
                                <td>#</td>
                                <td>//fich.name//</td>
                                <td>//fich.type//</td>
                                <td><a target="_blank" href="//fich.file//">link</a></td>
	                        </tr>
	                        </tbody>
                        </table>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
         </div>
        </script>
    </div>
    </div>
    {% endif %}

{% endblock %}


{% block color_uploads %} #2f72ab {% endblock %}