{% extends "base.html" %}
{% load staticfiles %}

{% block includes_js %}
        <script src="{% static "notes/js/notes.js" %}"></script>
{% endblock %}

{% block includes_css %}
        <script src="{% static "notes/css/notes.css" %}"></script>
{% endblock %}


{% block content %}
    <div class="container">
    <div>
        <div ng-controller="NotesCtrl" >
            {% if user.cin %}
                <div>
                    <h3>Add Marks :</h3>
                    <span ng-repeat="subject in subjects | filter: { professor : {{ user.id }} }">
                        // subject.name //
                        <span ng-repeat="classroom in classrooms |filter: {id: subject.classroom }">//classroom.class_name//   </span>
                        <br>
                        <span ng-repeat="student in students | filter: { classroom : subject.classroom }">
                            <span>// student.username //</span><input type="text" style="width:40px" ng-model="currentNotes[subject.id].note[student.id]"/>
                        </span>
                        <br>
                        <button class="btn btn-primary"  ng-click="saveNotes(subject.id, {{ user.id }})">save</button><br><br>
                    </span>
                </div>
                <div>
                    <h3> My Marks : </h3>
                    <span ng-repeat="subject in subjects | filter: { professor : {{ user.id }} }">
                        // subject.name //
                        <span ng-repeat="classroom in classrooms |filter: {id: subject.classroom }">//classroom.class_name//   </span>
                        <br>
                        <span ng-repeat="student in students | filter: { classroom : subject.classroom }">
                            <span>// student.username // : </span>
                            <span ng-repeat="note in notes | filter : { student : student.id}">//note.note// - //note.statement// ||</span><br>
                        </span>
                        <br>
                    </span>
                </div>

            {% endif %}

            {% if user.reg_number %}
                     <div>
                    <h3> My Marks : </h3>
                    <span ng-repeat="subject in subjects | filter: { classroom : {{ user.classroom.id }} }">
                        // subject.name //<br>
                            <span ng-repeat="note in notes | filter : { student : {{ user.id }}, professor : subject.professor, statement : 'True' }">//note.note//  || </span><br>
                        </span>
                        <br>
                    </span>
                </div>

            {% endif %}
        </div>
    </div>
    </div>

{% endblock %}

